{% extends 'admin_side/base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong></strong>{{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Add Sizes and Stocks for {{ product.product_name }}</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for size in sizes %}
                                <tr>
                                    <td>{{ size }}</td>
                                    <td><input type="number" name="stock_{{ size }}" class="form-control" /></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Add Sizes and Stocks</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
