{% extends "user_side/base2.html" %}

{% block content %}

<div class="login-register-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="login-register-wrap mr-70">
                    <h3><i class="fa fa-user-o"></i> Login</h3>
                    <div class="login-register-form">
                        <form method='post' action="{% url "user:forgot_password" %}">
                            {% csrf_token %}
                            <div class="sin-login-register">
                                <label>Email address <span>*</span></label>
                                <input type="text" name="email">
                            </div>
                            <div class="login-register-btn-remember">
                                <div class="login-register-btn">
                                    <button type="submit">Send otp</button>
                                </div>
                            </div>       
                        </form>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



